modules = ["nodejs-20", "python-3.11", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bots/telegram-bot && python3.11 main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_IDS = "7307275806,1038562411"
SHOP_NAME = "veachelsell"
BOT_TOKEN = "8324560210:AAF1vVG78vsXFSdXA3c2-Gyg0I6eKXktric"

[nix]
channel = "stable-25_05"
packages = ["postgresql"]
